body{
  margin:0;
  font-family:Arial;
  background:radial-gradient(circle at top, #1a002b, #000814 70%);
  color:white;
  overflow-x:hidden;
}

/* STAR ANIMATION */
.stars{
  position:fixed;
  width:100%;
  height:100%;
  background:transparent;
  background-image:radial-gradient(white 1px, transparent 1px);
  background-size:50px 50px;
  animation:moveStars 60s linear infinite;
  z-index:-1;
}

@keyframes moveStars{
  from{background-position:0 0;}
  to{background-position:1000px 1000px;}
}

nav{
  text-align:center;
  padding:20px;
  font-size:22px;
  letter-spacing:2px;
}

.container{
  padding:30px;
  text-align:center;
}

.card{
  background:rgba(255,255,255,0.08);
  padding:20px;
  border-radius:20px;
  backdrop-filter:blur(10px);
  box-shadow:0 0 20px #7f5af0;
  margin-bottom:30px;
  animation:fadeUp 0.8s ease;
}

input{
  padding:10px;
  border:none;
  border-radius:10px;
  margin:5px;
}

button{
  padding:10px 20px;
  border:none;
  border-radius:20px;
  cursor:pointer;
  background:linear-gradient(45deg,#7f5af0,#00c6ff);
  color:white;
  font-weight:bold;
  transition:0.3s;
}

button:hover{
  transform:scale(1.1);
  box-shadow:0 0 15px #00c6ff;
}

ul{
  list-style:none;
  padding:0;
}

li{
  margin:10px 0;
  padding:15px;
  border-radius:15px;
  background:rgba(255,255,255,0.1);
  transition:0.3s;
  animation:fadeUp 0.5s ease;
}

.deadline-soon{
  background:rgba(255,0,80,0.6);
  box-shadow:0 0 15px red;
}

@keyframes fadeUp{
  from{opacity:0; transform:translateY(20px);}
  to{opacity:1; transform:translateY(0);}
}

#toast{
  position:fixed;
  bottom:20px;
  right:20px;
  background:#7f5af0;
  padding:10px 20px;
  border-radius:20px;
  opacity:0;
  transition:0.5s;
}
.nav-links{
  margin-top:10px;
}

.nav-links a{
  margin:0 10px;
  text-decoration:none;
  color:#00c6ff;
  font-weight:bold;
}

.nav-links a:hover{
  text-shadow:0 0 10px #00c6ff;
}

.progress-card{
  margin-top:40px;
  padding:30px;
  border-radius:20px;
  background:rgba(255,255,255,0.08);
  box-shadow:0 0 20px #7f5af0;
  animation:fadeUp 0.8s ease;
}

.progress-bar{
  width:100%;
  height:30px;
  background:rgba(255,255,255,0.2);
  border-radius:20px;
  overflow:hidden;
  margin-bottom:20px;
}

#progressFill{
  height:100%;
  width:0%;
  background:linear-gradient(90deg,#7f5af0,#00c6ff);
  transition:1s;
}
@media (max-width: 600px){

  nav h2{
    font-size:18px;
  }

  .container{
    padding:15px;
  }

  input{
    width:100%;
    margin-bottom:10px;
  }

  button{
    width:100%;
  }

  li{
    font-size:14px;
  }

  .progress-card{
    padding:20px;
  }

}
